/**
global styles
 */

.home {
  margin: 0;
  background: linear-gradient(
          to bottom,
          #1e1b4b,
          #312e81,
          #f59e0b
  );

  color: #e2e8f0;
  font-family: 'Courier New', monospace;
}